{% extends 'layout.html' %}

{% block title %}Удаление курса{% endblock %}

{% block courses %}
    <div class="form-container">
        <h1>Удаление курса</h1>
        <form method="post">
            {% csrf_token %}
            <button class="add-course-button" type="submit">Удалить курс</button>
<!--            <input type="text" name="course_name" placeholder="Название курса" class="form-control"><br>-->
<!--            <input type="text" name="course_type" placeholder="Тип курса" class="form-control"><br>-->
<!--            <input type="text" name="course_period" placeholder="Период курса" class="form-control"><br>-->
<!--            <input type="text" name="course_experience" placeholder="Требуемый опыт" class="form-control"><br>-->
<!--            <input type="text" name="course_description" placeholder="Описание курса" class="form-control"><br>-->
<!--            <input type="text" name="course_price_month" placeholder="Цена курса за месяц" class="form-control"><br>-->
<!--            <input type="text" name="course_full_price" placeholder="Полная цена курса" class="form-control"><br>-->
<!--            <textarea name="course_content" class="form-control" placeholder="Содержание курса"></textarea><br>-->
        </form>
    </div>
{% endblock %}