{% extends 'layout.html' %}

{% block title %}Курсы{% endblock %}

{% block courses %}
<header class="courses_header">
    <div class="container">
        <h1 class="h1_courses">Курсы по программированию</h1>
        <div class="filters">
            <button>Высшее образование</button>
            <button>С нуля</button>
            <button>С опытом</button>
            <button>Бесплатно</button>
            <button>Платно</button>
            <button>Сбросить фильтры</button>
            <input type="text" placeholder="Какой навык или курс ищете?">
        </div>
    </div>
</header>
<main>
    <div class="container">
        <section class="courses">
            <a href="{% url 'courses:python_developer' %}" class="course">
                <article>
                    <h2 class="h_courses">Python-разработчик</h2>
                    <p>Программирование • 9 месяцев • С нуля</p>
                    <p>от 7 129 ₽/мес</p>
                    <p>или сразу 138 600 ₽</p>
                </article>
            </a>
            <a href="{% url 'courses:web_developer' %}" class="course-soon">
                <article>
                    <h2 class="h_courses">WEB-верстальщик</h2>
                    <p>Программирование • 6 месяцев • С нуля</p>
                    <p>от 6 378 ₽/мес</p>
                    <p>или сразу 124 000 ₽</p>
                </article>
            </a>

            <a href="{% url 'courses:java_developer' %}" class="course-soon">
                <article>
                    <h2 class="h_courses">Java-разработчик</h2>
                    <p>Программирование • 10 месяцев • С нуля</p>
                    <p>от 7 561 ₽/мес</p>
                    <p>или сразу 147 000 ₽</p>
                </article>
            </a>
            {% if course %}
                {% for el in course %}
                    <div class="course-wrapper">
                        <a href="{% url 'courses:course-detail' el.id %}" class="course">
                            <article>
                                <h2 class="h_courses">{{ el.title }}</h2>
                                <p>{{ el.type_cours }} • {{ el.period }} • {{ el.exp }}</p>
                                <p>{{ el.description }}</p>
                                <p>от {{ el.price_in_month }} ₽/мес</p>
                                <p>или сразу {{ el.full_price }} ₽</p>
                            </article>
                        </a>
                        <!-- Кнопки для изменения и удаления курса -->
                        <div class="course-buttons">
                            <a href="{% url 'courses:course-update' el.id %}" class="btn btn-edit">Изменить</a>
                            <a href="{% url 'courses:course-delete' el.id %}" class="btn btn-delete">Удалить</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>В настоящий момент курсов нет!</p>
            {% endif %}
            <a href="{% url 'courses:create_course' %}">
                <button class="add-course-button">Добавить курс</button>
            </a>
        </section>
    </div>
</main>
{% endblock %}