{% extends 'main/layout.html' %}

{% block main_title %}Создание нового курса{% endblock %}

{% block courses %}
    <div class="form-container">
        <h1>Создание курса</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}
            {{ form.type_cours }}
            {{ form.period }}
            {{ form.exp }}
            {{ form.description }}
            {{ form.price_in_month }}
            {{ form.full_price }}
            {{ form.content }}
            <span>{{ error }}</span>
            <button class="add-course-button" type="submit">Добавить курс</button>
        </form>
    </div>
{% endblock %}