{% extends 'layout.html' %}

{% block title %}Java-разработчик{% endblock %}

{% block courses %}
    <div class="course-page">
        <div class="section__header">
            <h1 class="section__title">JAVA-РАЗРАБОТЧИК</h1>
            <div class="course-meta">
                <span class="course-type">Программирование</span>
                <span class="course-period">6 месяцев</span>
                <span class="course-exp">С нуля</span>
                <span class="course-price">от 6 378 ₽/мес или 124 000 ₽ сразу</span>
            </div>
        </div>
        <div class="content">
            <h2 class="course-subtitle">Цели курса</h2>
            <ul>
                <li>Освоить основы и продвинутые технологии разработки на Java</li>
                <li>Изучить принципы объектно-ориентированного программирования (ООП)</li>
                <li>Научиться разрабатывать и тестировать приложения на Java</li>
            </ul>

            <h2 class="course-subtitle">Описание</h2>
            <p>
                Курс "Java-разработчик" предназначен для тех, кто хочет стать профессионалом в области разработки на Java. В ходе обучения вы изучите основные концепции языка программирования Java, особенности объектно-ориентированного программирования, работу с базами данных, разработку веб-приложений и многое другое. Практические задания и проекты помогут вам применить полученные знания на практике.
            </p>

            <h2 class="course-subtitle">Программа курса</h2>
            <p>Продолжительность: 6 месяцев</p>

            <div class="lessons">
                <ul class="lesson-list">
                    <li class="lesson-item locked">
                        <a href="#" class="course">
                            <div class="lesson-header">
                                <span class="lesson-order">1</span>
                                <span class="lesson-title">Введение в Java</span>
                                <span class="lesson-description">Знакомимся с основами языка Java</span>
                            </div>
                        </a>
                    </li>
                    <li class="lesson-item locked">
                        <a href="#" class="course">
                            <div class="lesson-header">
                                <span class="lesson-order">2</span>
                                <span class="lesson-title">Объектно-ориентированное программирование (ООП)</span>
                                <span class="lesson-description">Изучаем основные концепции ООП</span>
                            </div>
                        </a>
                    </li>
                    <li class="lesson-item locked">
                        <a href="#" class="course">
                            <div class="lesson-header">
                                <span class="lesson-order">3</span>
                                <span class="lesson-title">Работа с базами данных</span>
                                <span class="lesson-description">Научимся работать с базами данных и SQL</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}