{% extends 'main/layout.html' %}

{% block title %}Hello-world{% endblock %}

{% block courses %}
    <div class="container">
        <div class="course-page">
            <h2 class="course-subtitle">Основы Python</h2>
            <h2 class="section__title">Hello, World!</h2>
            <img src="/static/main/img/python_hello/hello_world.png" alt="Hello, World! изображение" class="hello-world-image">
            <p>Изучение нового языка программирования традиционно начинается с 'Hello, World!'. Это простая программа, которая выводит приветствие на экран и заодно знакомит с новым языком — его синтаксисом и структурой программы.</p>
            <p>Этой традиции уже больше сорока лет, поэтому и мы не будем нарушать ее. В первом уроке мы напишем программу <strong>Hello, World!</strong>. Чтобы сделать это, нужно дать компьютеру специальную команду. В языке Python это — <code>print()</code>:</p>
            <pre class="styled-code-block"><code>print('Hello, World!')
# => Hello, World!</code></pre>
            <p>Чтобы объяснить подробнее, какое значение выводится на экран, мы использовали комментарий.</p>

            <h2 class="section__title">Как работают комментарии</h2>
            <p>Практически все языки программирования позволяют оставлять в коде комментарии. Они никак не используются интерпретатором. Они нужны исключительно для людей, чтобы программисты оставляли пометки для себя и для других программистов.</p>
            <p>С их помощью добавляют пояснения, как работает код, какие ошибки нужно поправить или не забыть что-то добавить позже:</p>
            <pre class="styled-code-block"><code># Удалить строку ниже после реализации задачи по регистрации
print(10)
</code></pre>
            <p>Комментарии в Python начинаются со знака <code>#</code> и могут появляться в любом месте программы. Они могут занимать всю строку. Если одной строки мало, то создается несколько комментариев:</p>
            <pre class="styled-code-block"><code># For Winterfell!
# For Lannisters!</code></pre>
            <p>Комментарий может находиться на строке после кода:</p>
            <pre class="styled-code-block"><code>print('I am the King')  # For Lannisters!</code></pre>

            <!-- Новые секции -->
            <h2 class="section__title">Литеральные константы</h2>
            <p>Примером литеральной константы может быть число, например, 5, 1.23, 9.25e-3 или что-нибудь вроде 'Это строка' или "It's a string!". Они называются литеральными, потому что они «буквальные» — вы используете их значение буквально. Число 2 всегда представляет само себя и ничего другого — это «константа», потому что её значение нельзя изменить. Поэтому всё это называется литеральными константами.</p>

            <h2 class="section__title">Числа</h2>
            <p>Числа в Python бывают трёх типов: целые, с плавающей точкой и комплексные.</p>
            <ul>
                <li>Примером целого числа может служить 2.</li>
                <li>Примерами чисел с плавающей точкой (или «плавающих» для краткости) могут быть 3.23 и 52.3E-4. Обозначение E показывает степени числа 10. В данном случае 52.3E-4 означает 5.23 * 10<sup>-4</sup>.</li>
                <li>Примеры комплексных чисел: (-5+4j) и (2.3 - 4.6j).</li>
            </ul>

            <div class="expert-note">
                <strong>Замечание для опытных программистов</strong>
                <p>Нет отдельного типа «long int» (длинное целое). Целые числа по умолчанию могут быть произвольной длины.</p>
            </div>

            <h2 class="section__title">Строки</h2>
            <p>Строка – это последовательность символов. Чаще всего строки – это просто некоторые наборы слов.</p>
            <p>Слова могут быть как на английском языке, так и на любом другом, поддерживаемом стандартом Unicode, что означает почти на любом языке мира.</p>

            <div class="expert-note">
                <strong>Замечание для опытных программистов</strong>
                <p>В Python 3 нет ASCII-строк, потому что Unicode является надмножеством (включает в себя) ASCII. Если необходимо получить строку в кодировке ASCII, используйте <code>str.encode('ascii')</code>. Подробнее смотрите в обсуждении этого вопроса на StackOverflow. По умолчанию все строки в Unicode.</p>
            </div>

            <h2 class="section__title">Метод format</h2>
            <p>Иногда бывает нужно составить строку на основе каких-либо данных. Вот здесь-то и пригождается метод <code>format()</code>.</p>
            <p>Сохраните следующие строки в файл <code>str_format.py</code>:</p>
            <pre class="styled-code-block"><code>age = 26
name = 'Swaroop'

print('Возраст {0} -- {1} лет.'.format(name, age))
print('Почему {0} забавляется с этим Python?'.format(name))</code></pre>
            <p><strong>Вывод:</strong></p>
            <pre class="styled-code-block"><code>$ python str_format.py
Возраст Swaroop -- 26 лет.
Почему Swaroop забавляется с этим Python?</code></pre>
            <h3>Как это работает:</h3>
            <p>В строку могут быть включены определённые обозначения, а впоследствии может быть вызван метод <code>format</code> для замещения этих обозначений соответствующими аргументами.</p>
            <p>Взгляните на первый случай применения обозначений, где мы пишем <code>{0}</code>, и это соответствует переменной <code>name</code>, являющейся первым аргументом метода <code>format</code>. Аналогично, второе обозначение <code>{1}</code> соответствует переменной <code>age</code>, являющейся вторым аргументом метода <code>format</code>. Заметьте, что Python начинает отсчёт с 0, поэтому первая позиция – номер 0, вторая – номер 1 и т.д.</p>
            <p>Заметьте, мы ведь могли добиться того же самого результата и объединением строк: <code>'Возраст' + ' ' + str(age) + ' ' + 'лет.'</code>, однако вы сами видите, как это некрасиво, и как легко в таком случае допустить ошибку.</p>
            <p>Во-вторых, преобразование в строку делается методом <code>format</code> автоматически, в отличие от явного преобразования в нашем примере. В-третьих, используя метод <code>format</code>, мы можем изменить сообщение, не затрагивая используемых переменных, и наоборот.</p>
            <p>На всякий случай имейте в виду, что цифры здесь не обязательны. Можно было бы просто написать:</p>
            <pre class="styled-code-block"><code>age = 26
name = 'Swaroop'

print('Возраст {} -- {} лет.'.format(name, age))
print('Почему {} забавляется с этим Python?'.format(name))</code></pre>
            <p>и получить такой же результат, как и ранее.</p>
            <p>В методе <code>format</code> Python помещает значения каждого аргумента в обозначенное место. Могут быть и более детальные обозначения, как то:</p>
            <pre class="styled-code-block"><code>>> # десятичное число (.) с точностью в 3 знака для плавающих:
>>> '{0:.3}'.format(1/3)
'0.333'

>>> # заполнить подчёркиваниями (_) с центровкой текста (^) по ширине 11:
>>> '{0:_^11}'.format('hello')
'__hello___'

>>> # по ключевым словам:
>>> '{name} написал {book}'.format(name='Swaroop', book='A Byte of Python')
'Swaroop написал A Byte of Python'</code></pre>
            <p>Детально такие обозначения форматов описаны в Предложении по расширению Python <a href="https://www.python.org/dev/peps/pep-3101/">PEP 3101</a>.</p>

            <h2 class="section__title">Переменные</h2>
            <p>Использование одних лишь литеральных констант может скоро наскучить – нам ведь нужен способ хранения любой информации и манипулирования ею. Вот здесь на сцену и выходят переменные. Слово «переменные» говорит само за себя – их значение может меняться, а значит, вы можете хранить в переменной всё, что угодно. Переменные – это просто области памяти компьютера, в которых вы храните некоторую информацию. В отличие от констант, к какой информации и каким-то образом получать доступ, но этому переменным даются имена.</p>
            <h2 class="section__title">Отступы</h2>
            <p>В Python пробелы важны. Точнее, <strong>пробелы в начале строки</strong> важны. Это называется отступами. Передние отступы (пробелы и табуляции) в начале логической строки используются для определения уровня отступа логической строки, который, в свою очередь, используется для группировки предложений.</p>
            <p>Это означает, что предложения, идущие вместе, <strong>должны</strong> иметь одинаковый отступ. Каждый такой набор предложений называется <em>блоком</em>. В дальнейших главах мы увидим примеры того, насколько важны блоки.</p>
            <p>Вы должны запомнить, что неправильные отступы могут приводить к возникновению ошибок. Например:</p>
            <div class="lesson-navigation">
                <a href="{% url 'lesson_python_begin' %}" class="lesson-button prev-button">
                    < Введение
                </a>
                <a href="{% url 'lesson_python_instruction' %}" class="lesson-button next-button">
                    Операторы и выражение >
                </a>
            </div>
        </div>
    </div>
{% endblock %}