{% extends 'main/layout.html' %}


{% block main_page %}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
<!--                <h2 class="intro__suptitle">Добро пожаловать!</h2>-->
                <h1 class="intro__title">Code Quantum Studio</h1>

                <a class="btn" href="{% url 'courses_home' %}">Начать учиться!</a>
            </div>
        </div>

        <div class="slider">
            <div class="container">
                <div class="slider__inner">
                    <div class="slider__item active">
                        <span class="slider__num">01</span>
                        <span class="slider__text">Приветствие</span>
                    </div>
                    <div class="slider__item">
                        <span class="slider__num">02</span>
                        <span class="slider__text">Проекты</span>
                    </div>
                    <div class="slider__item">
                        <span class="slider__num">03</span>
                        <span class="slider__text">О нас</span>
                    </div>
                    <div class="slider__item">
                        <span class="slider__num">04</span>
                        <span class="slider__text">Контакты</span>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.intro -->




    <!-- Services -->
    <section class="section" id="services">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">У нас есть то, чего нет у других!</h3>
                <h2 class="section__title">Потрясающие преимущества</h2>
            </div>

            <div class="services">
                <div class="services__item  services__item--border">
                    <img class="services__icon" src="static/main/img/services/photography.png" alt="">

                    <div class="services__title">Гибкий темп обучения</div>
                    <div class="services__text">Возможность ускорять и замедлять образовательный процесс.</div>
                </div>
                <div class="services__item  services__item--border">
                    <img class="services__icon" src="static/main/img/services/webdesign.png" alt="">

                    <div class="services__title">Обучение по принципу STEM</div>
                    <div class="services__text">Все занятия связаны между собой — вы учите новый материал и повторяете пройденный одновременно</div>
                </div>
                <div class="services__item  services__item--border">
                    <img class="services__icon" src="static/main/img/services/creativity.png" alt="">

                    <div class="services__title">Четыре формата занятий</div>
                    <div class="services__text">Можно учиться в группе или индивидуально, смотреть уроки онлайн или полностью в записи.</div>
                </div>
                <div class="services__item">
                    <img class="services__icon" src="static/main/img/services/seo.png" alt="">

                    <div class="services__title">Общение с учителями</div>
                    <div class="services__text">Индивидуальные консультации с преподавателями.</div>
                </div>
                <div class="services__item">
                    <img class="services__icon" src="static/main/img/services/css-html.png" alt="">

                    <div class="services__title">Поддержка для комплексного роста</div>
                    <div class="services__text">Мы стремимся не только обучить вас программированию, но и поддержать ваш полноценный рост как IT-специалиста.</div>
                </div>
                <div class="services__item">
                    <img class="services__icon" src="static/main/img/services/digital.png" alt="">

                    <div class="services__title">Актуальные навыки</div>
                    <div class="services__text">Наши студенты приобретают экспертизу в современных языках программирования, фреймворках и технологиях, таких как Python, JavaScript, React, Node.js и другие.</div>
                </div>
            </div>

        </div><!-- /.container -->
    </section>


    <!-- Devices -->
    <section class="section  section--devices">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Кодить можно даже в блокноте!</h3>
                <h2 class="section__title">Вы научитесь работать в современных IDE</h2>
            </div>

            <div class="devices">
                <img class="devices__item" src="static/main/img/ipad-2.png" alt="">
                <img class="devices__item  devices__item--iphone" src="static/main/img/iphone-2.png" alt="">
            </div>

        </div>
    </section>


    <!-- Wedo -->
    <section class="section">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Вот что мы можем!</h3>
                <h2 class="section__title">Функционал</h2>
                <div class="section__text">
                    <p>В CodeQuantum Studio мы создаем уникальное образовательное пространство, наполненное энергией квантового кода и философии программирования. Наш подход охватывает не только передачу технических навыков, но и глубокое погружение в суть квантовых идей.</p>
                </div>
            </div>

            <div class="wedo">
                <div class="wedo__item">
                    <img class="wedo__img" src="static/main/img/wedo-2.jpg" alt="">
                </div>

                <div class="wedo__item">

                    <div class="accordion">
                        <div class="accordion__item" data-collapse="#wedo_1">
                            <div class="accordion__header">
                                <img class="accordion__icon" src="static/main/img/services/photography.png" alt="">
                                <div class="accordion__title">Обучение современным технологиям</div>
                            </div>
                            <div class="accordion__content" id="wedo_1">
                                <p>Мы предоставляем курсы по языкам программирования, фреймворкам и технологиям, соответствующим современным требованиям IT-индустрии.</p>
                            </div>
                        </div>

                        <div class="accordion__item active" data-collapse="#wedo_2">
                            <div class="accordion__header">
                                <img class="accordion__icon" src="static/main/img/services/creativity.png" alt="">
                                <div class="accordion__title">Практическое применение знаний</div>
                            </div>
                            <div class="accordion__content" id="wedo_2">
                                <p>Мы поддерживаем студентов в реальных проектах, стимулируя практическое применение полученных знаний и развивая навыки решения реальных задач.</p>
                            </div>
                        </div>

                        <div class="accordion__item" data-collapse="#wedo_3">
                            <div class="accordion__header">
                                <img class="accordion__icon" src="static/main/img/services/webdesign.png" alt="">
                                <div class="accordion__title">Развитие мягких навыков</div>
                            </div>
                            <div class="accordion__content" id="wedo_3">
                                <p>Мы не только учим коду, но и формируем навыки коммуникации, командной работы и решения проблем, делая наших выпускников готовыми к успешной карьере в технологической сфере.</p>
                            </div>
                        </div>
                    </div><!-- /.accordion -->

                </div><!-- /.wedo__item -->
            </div><!-- /.wedo -->

        </div>
    </section>


    <!-- Reviews 1 -->
    <div class="section  section--gray">
        <div class="container">

            <div class="reviews">
                <div data-slider>
                    <div>
                        <div class="reviews__item">
                            <img class="reviews__photo" src="static/main/img/avatar-3-ilon.png" alt="">
                            <div class="reviews__text">“Провал здесь — это вариант. Если вещи не терпят неудачу, значит, вы недостаточно инновационны”</div>
                            <div class="reviews__author">Ilon Mask</div>
                        </div>
                    </div>
                    <div>
                        <div class="reviews__item">
                            <img class="reviews__photo" src="static/main/img/avatar-2.png" alt="">
                            <div class="reviews__text">“Заходи не бойся, выходи не плачь
                            ”</div>
                            <div class="reviews__author">Kate Kuzmenko (50 оттенков серого)</div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>


    <!-- Team -->
    <section class="section">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Наши лучшие специалисты!</h3>
                <h2 class="section__title">Познакомьтесь с нашей командой</h2>
                <div class="section__text">
                    <p>Наша команда – это объединение энтузиастов, целеустремленных педагогов и опытных менторов, которые разделяют страсть к квантовому программированию и современным технологиям.</p>
                </div>
            </div>

            <div class="card">
                <div class="card__item">
                    <div class="card__inner">
                        <div class="card__img">
                            <img src="static/main/img/team/1.jpg" alt="">
                        </div>
                        <div class="card__text">
                            <div class="social">
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
<!--                                <a class="social__item" href="#" target="_blank">-->
<!--                                    <i class="fab fa-instagram"></i>-->
<!--                                </a>-->
                            </div>
                        </div>
                    </div>
                    <div class="card__info">
                        <div class="card__name">Гава А.А.</div>
                        <div class="card__prof">Backend-разработчик</div>
                    </div>
                </div><!-- /.card__item -->

                <div class="card__item">
                    <div class="card__inner">
                        <div class="card__img">
                            <img src="static/main/img/team/2.jpg" alt="">
                        </div>
                        <div class="card__text">
                            <div class="social">
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
<!--                                <a class="social__item" href="#" target="_blank">-->
<!--                                    <i class="fab fa-instagram"></i>-->
<!--                                </a>-->
                            </div>
                        </div>
                    </div>
                    <div class="card__info">
                        <div class="card__name">Спесивцев И.С.</div>
                        <div class="card__prof">Frontend-разработчик</div>
                    </div>
                </div><!-- /.card__item -->

                <div class="card__item">
                    <div class="card__inner">
                        <div class="card__img">
                            <img src="static/main/img/team/3.jpg" alt="">
                        </div>
                        <div class="card__text">
                            <div class="social">
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
<!--                                <a class="social__item" href="#" target="_blank">-->
<!--                                    <i class="fab fa-instagram"></i>-->
<!--                                </a>-->
                            </div>
                        </div>
                    </div>
                    <div class="card__info">
                        <div class="card__name">Остапенко Д.А.</div>
                        <div class="card__prof">1С-разработчик</div>
                    </div>
                </div><!-- /.card__item -->

            </div><!-- /.card -->

        </div><!-- /.container -->
    </section>


    <!-- Logos -->
    <div class="section  section--gray">
        <div class="container">

            <div class="logos">
                <div class="logos__item">
                    <img class="logos__img" src="static/main/img/logos/1.png" alt="">
                </div>
                <div class="logos__item">
                    <img class="logos__img" src="static/main/img/logos/2.png" alt="">
                </div>
                <div class="logos__item">
                    <img class="logos__img" src="static/main/img/logos/3.png" alt="">
                </div>
                <div class="logos__item">
                    <img class="logos__img" src="static/main/img/logos/4.png" alt="">
                </div>
                <div class="logos__item">
                    <img class="logos__img" src="static/main/img/logos/5.png" alt="">
                </div>
                <div class="logos__item">
                    <img class="logos__img" src="static/main/img/logos/6.png" alt="">
                </div>
            </div>

        </div>
    </div>


    <!-- Works -->
    <section class="section" id="works">
        <div class="container">
            <div class="section__header">
                <h3 class="section__suptitle">Проекты учеников!</h3>
                <h2 class="section__title">Некоторые из наших работ</h2>
                <div class="section__text">
                    <p>Наши ученики продемонстрировали впечатляющий профессионализм и креативность в создании различных проектов, которые отражают их уникальные способности и навыки, приобретенные во время обучения в CodeQuantum Studio. Вот лишь некоторые из работ, созданных нашими талантливыми студентами.</p>
                </div>
            </div>
        </div>

        <div class="works">
            <div class="works__col">
                <div class="works__item">
                    <img class="works__image" src="static/main/img/works/1.jpg" alt="">
                    <div class="works__info">
                        <div class="works__title">Например</div>
                        <div class="works__text">Exmaple</div>
                    </div>
                </div>
                <div class="works__item">
                    <img class="works__image" src="static/main/img/works/2.jpg" alt="">
                    <div class="works__info">
                        <div class="works__title">Например</div>
                        <div class="works__text">Exmaple</div>
                    </div>
                </div>
            </div>

            <div class="works__col">
                <div class="works__item">
                    <img class="works__image" src="static/main/img/works/3.jpg" alt="">
                    <div class="works__info">
                        <div class="works__title">Например</div>
                        <div class="works__text">Exmaple</div>
                    </div>
                </div>
                <div class="works__item">
                    <img class="works__image" src="static/main/img/works/4.jpg" alt="">
                    <div class="works__info">
                        <div class="works__title">Например</div>
                        <div class="works__text">Exmaple</div>
                    </div>
                </div>
            </div>

            <div class="works__col">
                <div class="works__item">
                    <img class="works__image" src="static/main/img/works/5.jpg" alt="">
                    <div class="works__info">
                        <div class="works__title">Например</div>
                        <div class="works__text">Exmaple</div>
                    </div>
                </div>
            </div>

            <div class="works__col">
                <div class="works__item">
                    <img class="works__image" src="static/main/img/works/6.jpg" alt="">
                    <div class="works__info">
                        <div class="works__title">Например</div>
                        <div class="works__text">Exmaple</div>
                    </div>
                </div>
                <div class="works__item">
                    <img class="works__image" src="static/main/img/works/7.jpg" alt="">
                    <div class="works__info">
                        <div class="works__title">Например</div>
                        <div class="works__text">Exmaple</div>
                    </div>
                </div>
            </div>
        </div><!-- /.works -->
    </section>


    <!-- Reviews 2 -->
   <!--  <div class="section">
        <div class="container">

            <div class="reviews">

                <div data-slider>
                    <div>
                        <div class="reviews__item">
                            <img class="reviews__photo" src="static/main/img/avatar.png" alt="">
                            <div class="reviews__text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</div>
                            <div class="reviews__author">Jon Doe</div>
                        </div>
                    </div>

                    <div>
                        <div class="reviews__item">
                            <img class="reviews__photo" src="static/main/img/avatar.png" alt="">
                            <div class="reviews__text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</div>
                            <div class="reviews__author">Jon Doe</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> -->


    <!-- Blog -->
    <section class="section" id="blog">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Наши курсы!</h3>
                <h2 class="section__title">Актуальные курсы на платформе</h2>
            </div>

            <div class="blog">
                <div class="blog__item">
                    <div class="blog__header">
                        <a href="#">
                            <img class="blog__photo" src="static/main/img/blog/1.jpg" alt="">
                        </a>
                        <div class="blog__date">
                            <div class="blog__date-day">20</div>
                            Марта
                        </div>
                    </div>
                    <div class="blog__content">
                        <div class="blog__title">
                            <a href="#">HTML/CSS</a>
                        </div>
                        <div class="blog__text">В течение курса вы узнаете основы языка разметки HTML и каскадных таблиц стилей CSS, а также научитесь создавать адаптивные и интерактивные веб-сайты.</div>
                    </div>
                    <div class="blog__footer">
                        <div class="blog-stat">
                            <span class="blog-stat__item">
                                <i class="far fa-eye"></i> 1219
                            </span>
                            <span class="blog-stat__item">
                                <i class="far fa-comment-dots"></i> 152
                            </span>
                        </div>
                    </div>
                </div>

                <div class="blog__item">
                    <div class="blog__header">
                        <a href="#">
                            <img class="blog__photo" src="static/main/img/blog/2.jpg" alt="">
                        </a>
                        <div class="blog__date">
                            <div class="blog__date-day">30</div>
                            Апреля
                        </div>
                    </div>
                    <div class="blog__content">
                        <div class="blog__title">
                            <a href="#">Python Django</a>
                        </div>
                        <div class="blog__text">В течение курса вы узнаете, как использовать Python и Django для создания удобных и масштабируемых веб-приложений, которые соответствуют современным стандартам разработки.</div>
                    </div>
                    <div class="blog__footer">
                        <div class="blog-stat">
                            <span class="blog-stat__item">
                                <i class="far fa-eye"></i> 759
                            </span>
                            <span class="blog-stat__item">
                                <i class="far fa-comment-dots"></i> 48
                            </span>
                        </div>
                    </div>
                </div>

                <div class="blog__item">
                    <div class="blog__header">
                        <a href="#">
                            <img class="blog__photo" src="static/main/img/blog/3.jpg" alt="">
                        </a>
                        <div class="blog__date">
                            <div class="blog__date-day">5</div>
                            Июня
                        </div>
                    </div>
                    <div class="blog__content">
                        <div class="blog__title">
                            <a href="#">PostgreSQL</a>
                        </div>
                        <div class="blog__text">В течение курса вы изучите основные принципы работы с PostgreSQL, включая создание и управление базами данных, проектирование схемы данных, выполнение запросов на выборку и обновление данных, а также оптимизацию производительности запросов.</div>
                    </div>
                    <div class="blog__footer">
                        <div class="blog-stat">
                            <span class="blog-stat__item">
                                <i class="far fa-eye"></i> 542
                            </span>
                            <span class="blog-stat__item">
                                <i class="far fa-comment-dots"></i> 17
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- /.blog -->

        </div><!-- /.container -->
    </section>


    <!-- Map -->
    <section class="section  section--map">
        <div class="container">
            <div class="map">
                <h2 class="map__title">
                    <div><i class="fas fa-map-marker-alt"></i></div>
                    <a href="https://goo.gl/maps/F8YpeCGqwrG2" target="_blank">Открыть карту</a>
                </h2>
            </div>
        </div>
    </section>
{% endblock %}