{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block something %}
<div class="course-page">
    <div class="login-container">
        <h1>Вход</h1>
        <form method="post" action="{% url 'user:login' %}">
            {% csrf_token %}
<!--            <span>{{ error }}</span><br>  -->
            {% if request.GET.next %}
                <input type="hidden" name="next" value={{request.GET.next}}>
            {% endif %}

            <input type="text" placeholder="Логин" name="username" id="id_username" class="form-control" autofocus
                   value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                   required> <br>

            {% if form.username.errors %}
                <div class="alert alert-danger alert-dismissible fade show">{{form.username.errors}}</div>
            {% endif %}

            <input type="password" placeholder="Пароль" name="password" id="id_password" class="form-control" required> <br>

            {% if form.password.errors %}
                <div class="alert alert-danger alert-dismissible fade show">{{form.password.errors}}</div>
            {% endif %}


            <button class="btn btn-success" type="submit">Войти</button>

            <a href="{% url 'user:registration' %}" class="btn btn-success">Регистрация</a>

        </form>
    </div>
</div>
{% endblock %}
{% comment %}
            {% for item in form %}
                {{ item }}
            {% endfor %}
            {% endcomment %}


            {% comment %} {{ form.username }} {% endcomment %}

            {% comment %} {{ form.password }} {% endcomment %}